.categories {
	.category {
		margin-bottom: 65px;

		&:nth-of-type(even) {
			@media (min-width: 768px) {
				.category-info-wrapper {
					// order: 2;
				}
			}
		}

		.category-info-wrapper {
			position: relative;
			height: 400px;
			color: #fff;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			margin-bottom: 15px;
			padding: 0;
			.overlay {
				padding: 15px;
			}
			.category-info {
				// padding: 0 30px;
				.category-title {
					text-transform: uppercase;
					font-size: 26px;
					font-weight: bold;
				}
				.category-description {
				}
				button {
					text-transform: capitalize;
					font-size: 16px;
					margin-top: 15px;
					padding-top: 3px;
					padding-bottom: 3px;
					border-radius: 0;
					color: #fff;
					border: 2px solid #fff;
					font-weight: bold;
					&:hover {
						background: #fff;
						color: #333;
					}
				}
			}
		}

		.category-products {
			// &:nth-of-type(even) {
			// 	padding-left: 0;
			// }
			// &:nth-of-type(odd) {
			// 	padding-right: 0;
			// }
		}
	}
}
