#top-bar {
	padding: 0;
	background: #fff;

	#news {
		// margin-bottom: 20px;
		padding: 12px 0;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1.6px;
		background: #585ece;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
	}

	.nav-item {
		color: $title-color;
	}
	.navbar-brand {
		img {
			height: 62px;
			width: 109px;
		}
	}
}
