.section.categories
  .container
    // start category
    .category.container
      .row
        // info
        .category-info-wrapper.col-xs-12.col-md-4.col-lg-3(style="background: url('../assets/images/clothing-5.jpg')")
          .overlay.d-flex.h-100
            .category-info.align-self-center
              h2.category-title
                | clothing
              p.category-description
                | View our summer line of men and women’s clothing.
              button.btn.btn-outline-light(type='button')
                | view all
        // products
        .category-products.col-xs-12.col-md-8.col-lg-9
          .row
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/ROMWE-Brown-Soild-Button-Front-Cami-Top-With-Belted-Shorts-font-b-Women-b-font-Summer.jpg_220x220xz.webp')
                h6.product__title
                  | Romwe Brown Soild Button Front Cami Top With Belted Shorts
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $24.00
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/New-Men-Shirts.jpg')
                h6.product__title
                  | Men Shirts
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $18.00
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/2018-New-Men-Joggers-Brand-Male-Trousers-Casual-Pants-Sweatpants-Jogger-.webp')
                h6.product__title
                  | Men Joggers
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $16.00
    // end category
    // start category
    .category.container
      .row
        // info
        .category-info-wrapper.col-xs-12.col-md-4.col-lg-3(style="background: url('../assets/images/accessories_v2.jpg')")
          .overlay.d-flex.h-100
            .category-info.align-self-center
              h2.category-title
                | accessories
              p.category-description
                | View our summer line of men and women’s clothing.
              button.btn.btn-outline-light(type='button')
                | view all
        // products
        .category-products.col-xs-12.col-md-8.col-lg-9
          .row
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/YAZOLE-2017-Fashion-Quartz-Watch-Men-Watches.webp')
                h6.product__title
                  | Women’s Ripped Denim
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $15.00
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/4pcs-set-Handmade-Boho-Gypsy-Hippie.webp')
                h6.product__title
                  | Women’s Ripped Denim
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $15.00
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/Vintage-Women-Bohemian-Pearl-Short-Choker-Necklace.webp')
                h6.product__title
                  | Women’s Ripped Denim
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $15.00
    // end category
    // start category
    .category.container
      .row
        // info
        .category-info-wrapper.col-xs-12.col-md-4.col-lg-3(style="background: url('../assets/images/shoes_v2.jpg')")
          .overlay.d-flex.h-100
            .category-info.align-self-center
              h2.category-title
                | shoes
              p.category-description
                | View our summer line of men and women’s clothing.
              button.btn.btn-outline-light(type='button')
                | view all
        // products
        .category-products.col-xs-12.col-md-8.col-lg-9
          .row
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/Summer-Woman-Vulcanized-Casual-Shoes-Women-Platform-Sneakers.webp')
                h6.product__title
                  | Women’s Ripped Denim
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $15.00
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/Formal-Leather-Oxfords-Shoes-Men.webp')
                h6.product__title
                  | Women’s Ripped Denim
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $15.00
            .col-xs-12.col-sm-6.col-lg-4
              .product
                .product__img
                  a(href='')
                    img(src='../assets/images/Women-Sandals-Bling-Crystal-Summer.webp')
                h6.product__title
                  | Women’s Ripped Denim
                .product__footer
                  button.product__add-to-cart-btn.btn
                    | add to cart
                  p.product__price
                    | $15.00
    // end category
