doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Document
		link(href='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap', rel='stylesheet')
		link(rel='stylesheet', href='../assets/style/index.scss')

	body

		#top-bar
			#news hurry up before the sale ends!
			.container
				.row
					.col-md-2
						#logo
							img(src='../assets/images/logo-no-padding.png', alt='')
					.col-md-10.align-self-center
						.right-wrapper
							nav#main-nav.text-right
								a(href='#') clothing
								a(href='#') accessories
								a(href='#') shoes
								a(href='#') blog
								a(href='#') contact
								a(href='#') cart
							form.form-inline
								input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')

