doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Document
		link(href='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap', rel='stylesheet')
		link(rel='stylesheet', href='../assets/style/index.scss')

	body

		#top-bar
			#news hurry up before the sale ends!
			nav.navbar.navbar-expand-lg.navbar-light
				a.navbar-brand(href='#') 
					img(src='../assets/images/logo-no-padding.png', alt='')
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarNav.collapse.navbar-collapse.w-100.order-3.dual-collapse2
					ul.navbar-nav.text-center.ml-auto
						li.nav-item.active
							a.nav-link(href='#') shop 
						li.nav-item
							a.nav-link(href='#') categories
						li.nav-item
							a.nav-link(href='#') cart
						li.nav-item
							a.nav-link(href='#') contact
