header#hero
    #media-bg-wrapper
        img.media(src='../assets/images/shop-1-e1462868996184.jpg', alt='')
        //
            <video class="media" autoplay loop muted>
            <source
            src="assets/images/TRAVEL_VLOG- SANTORINI, GREECE.WEBM"
            type="video/mp4"
            />
            </video>

    #hero-content
        span
            h5
                | Lorem ipsum dolo sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                | sit amet, consectetur adipisicing elit,sed sit amet, adipisicing elit,sed
            button.btn.btn-outline-light shop now