.section.listing
  .container
    .listing__info
      h2.listing__info__title
        | Trending Products
      p.listing__info__description
        | Lorem ipsum dolor sit amet
    // products
    .listing__products
      .product
        .product__img
          a(href='')
            img(src='../assets/images/Irregular-Women-s-Office-Lady-Shirt-Top.webp')
        h6.product__title
          | Irregular Womens Office Lady Shirt Top
        .product__footer
          button.product__add-to-cart-btn.btn
            | add to cart
          p.product__price $30.00

      .product
        .product__img
          a(href='')
            img(src='../assets/images/Classic-Polarized-Sunglasses-Men-Women.webp')
        h6.product__title
          | Women’s Ripped Denim
        .product__footer
          button.product__add-to-cart-btn.btn
            | add to cart
          p.product__price $27.00

      .product
        .product__img
          a(href='')
            img(src='../assets/images/product-photo-40-400x400.png')
        h6.product__title
          | Women’s Ripped Denim
        .product__footer
          button.product__add-to-cart-btn.btn
            | add to cart
          p.product__price $24.00

      .product
        .product__img
          a(href='')
            img(src='../assets/images/4pcs-set-Handmade-Boho-Gypsy-Hippie.webp')
        h6.product__title
          | Women’s Ripped Denim
        .product__footer
          button.product__add-to-cart-btn.btn
            | add to cart
          p.product__price $19.00

      .product
        .product__img
          a(href='')
            img(src='../assets/images/product-photo-9-400x400.png')
        h6.product__title
          | Women’s Ripped Denim
        .product__footer
          button.product__add-to-cart-btn.btn
            | add to cart
          p.product__price
            | $195.00

      .product
        .product__img
          a(href='')
            img(src='../assets/images/Formal-Leather-Oxfords-Shoes-Men.webp')
        h6.product__title
          | Formal Leather Oxfords Shoes Men
        .product__footer
          button.product__add-to-cart-btn.btn
            | add to cart
          p.product__price $29.99

      .product
        .product__img
          a(href='')
            img(src='../assets/images/Solid-2-Colors-Women-Crew-Neck-Short-Sleeve.webp')
        h6.product__title
          | Women’s Ripped Denim
        .product__footer
          button.product__add-to-cart-btn.btn
            | add to cart
          p.product__price $16.00

      .product
        .product__img
          a(href='')
            img(src='../assets/images/Zogaa-2019-Baseball-Jacket.webp')
        h6.product__title
          | Women’s Ripped Denim
        .product__footer
          button.product__add-to-cart-btn.btn
            | add to cart
          p.product__price $30.00
