/*
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, 
	along with any pseudo-classes. 
	
	It doesn’t include any class or ID selectors. 
	
	It is defining the default styling for how that element 
	should look in all occurrences on the page.
*/
* {
	box-sizing: border-box;
}

body {
	color: $body-color;
	font-family: 'Roboto', sans-serif;
	overflow-wrap: break-word;
}

button {
	border-radius: 0 !important;
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
