include includes/header.pug

include includes/hero.pug

main
  #content
    // listing section
    include includes/listing-products.pug
    
    //categories section        
    include includes/categories.pug

include includes/footer.pug
